<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">🏆 LoL eStats</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/seleccionar-torneos"><i class="fa-solid fa-download me-1"></i>Descargas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/torneo"><i class="fa-solid fa-chart-column me-1"></i>Torneos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/futuras_partidas"><i class="fa-solid fa-hourglass-half me-1"></i>Próximos</a>
        </li>
        <!-- Nueva opción Calculadora EV -->
        <li class="nav-item">
          <a class="nav-link" href="/calculadora_ev"><i class="fa-solid fa-calculator me-1"></i>Calculadora EV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
